.arrival__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;

  .card {
    display: flex;
    align-items: start;
    justify-content: end;
    background: #0d0d0d;
    position: relative;
    border-radius: 4px;
    flex-direction: column;
    color: #fff;
    padding: 32px;
    z-index: 1;

    &__title {
      font-family: 'Inter';
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0.03em;
    }

    &__text {
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      margin: 16px 0;
      width: 245px;
    }

    &__link {
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #fff;
      border-bottom: 1px solid #666;
    }

    img {
      position: absolute;
      z-index: -1;
    }
  }

  .card:nth-of-type(1) {
    grid-row: span 2;
    grid-column: span 2;
    min-width: 570px;
    min-height: 600px;

    img {
      bottom: 0;
      left: 30px;
    }
  }

  .card:nth-of-type(2) {
    min-width: 570px;
    grid-column: span 2;
    grid-row: span 1;
    min-height: 284px;

    img {
      bottom: 0;
      right: 0;
    }
  }

  .card:nth-of-type(3) {
    min-width: 270px;
    min-height: 284px;
    grid-column: span 1;
    grid-row: span 1;

    img {
      top: 30px;
      left: 34px;
    }
  }

  .card:nth-of-type(4) {
    min-width: 270px;
    min-height: 284px;
    grid-column: span 1;
    grid-row: span 1;

    img {
      top: 30px;
      left: 34px;
    }
  }

}