

.products {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;

  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 90px;
    color: #000;
    box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.05);
    position: relative;

    .info {
      display: flex;
      align-items: center;
      gap: 20px;
      // position: relative;

      img {
        width: 54px;
        height: 54px;
        object-fit: cover;
        object-position: center;
      }

      .title {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
      }
    }

    .text {
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      position: absolute;

      &:nth-of-type(1) {
        top: 37px;
        left: 387px;
      }

      &:nth-of-type(2) {
        top: 37px;
        left: 710px;
      }

      &:nth-of-type(3) {
        position: static;
      }
    }
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      padding: 16px 48px;
      background: unset;

      font-family: 'Poppins';
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }
  }

}

.total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1.50px solid #000;
  border-radius: 4px;
  padding: 32px 24px;
  width: 470px;
  height: 290px;
  margin-top: 80px;

  .title {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #000;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #000;
    }
  }
}

.empty {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  .title {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 36px;
    line-height: 83%;
    letter-spacing: 0.04em;
    color: 3000;
    color: #db4444;
  }

  .icon {
    font-size: 35px;
    color: #db4444;
  }
}