.btn {
  display: block;
  background: #db4444;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}