.products {
  padding: 30px 0;
  min-height: 700px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.products__box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}