@import './common.scss', './media.scss';

.link {
  position: relative;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    transform-origin: bottom;
    transform: scale(0);
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
  }

  &.active {
    &::after {
      animation: linkAnimation 0.5s forwards;
    }
  }
}

@keyframes linkAnimation {
  from {
    transform: translateX(-50px);
  }

  to {
    transform: translateX(0);
  }
}

.footer__link {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #7d8184;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    transform-origin: bottom;
    transform: scale(0);
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
  }

  &.active {
    &::after {
      animation: footerLinkAnim 0.3s forwards;
    }
  }
}

@keyframes footerLinkAnim {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.swipper {
  width: 892px;
  height: 344px;

  &__slide {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: hsla(0, 0%, 100%, 0.478);
      backdrop-filter: blur(5px);
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 15px;
      position: absolute;
      z-index: 3;
      opacity: 1;
      top: 70px;
      left: 70px;

      &_title {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        text-align: center;
        color: #000;
      }

      &_text {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #000;
        width: 250px;
        text-align: left;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &.section {
      margin-top: 60px;
      margin-bottom: 60px;
      border-bottom: 1px solid #666;
    }
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 10px;
  margin-top: 60px;
}

.auth {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 130px;

  &__img {}
}

.register {
  display: flex;
  flex-direction: column;
  width: 370px;

  &__title {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 36px;
    line-height: 83%;
    letter-spacing: 0.04em;
    color: #000;
  }

  &__text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    margin-top: 24px;
    margin-bottom: 50px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }

  &__text2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    margin-top: 32px;
    text-align: center;

    a {
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #000;
      border-bottom: 1px solid #666;
    }
  }
}

.nav__btn {
  background: unset;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  &.active {
    background: #db4444;
  }

  img {
    width: 23px;
    color: #fff;
    height: 23px;
  }
}

.nav__list {
  position: absolute;
  top: -200px;
  right: 200px;
  background: hwb(0 0% 100% / 0.542);
  backdrop-filter: blur(15px);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 13px;
  padding: 16px 20px;
  transition: 0.3s ease-in-out;
  z-index: 10;

  &.active {
    top: 60px;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;

    img {
      width: 27px;
      height: 27px;
    }

    span {
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
    }
  }
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background: #666;
}

.window_bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #2c2c2c88;
  backdrop-filter: blur(5px);
  transform: scale(0);
  transition: 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  &.active {
    transform: scale(1);
  }

  .window {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

    &__title {
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 24px;
      line-height: 140%;
      color: #000;
    }

    &__btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;

      .btn {
        padding: 10px 20px;
        border-radius: 6px;
        background: #db4444;
        color: #fff;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
      }
    }

  }
}

.nav__link {
  color: #000;
  font-size: 23px;
  position: relative;

  &_text {
    position: absolute;
    right: -7px;
    top: -7px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    background: #db4444;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 0.3s ease-in-out;

    &.active {
      transform: scale(1);
    }
  }
}

.loader {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
  }

  .spinner>div {
    background-color: rgba(0, 77, 255, 0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #004dff;
  }

  .spinner div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
  }

  .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
  }

  .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
  }

  .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
  }

  .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
  }

  .spinner div:nth-of-type(6) {
    transform: translateZ(22px);
  }

  @keyframes spinner-y0fdc1 {
    0% {
      transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
  }
}

.cutom__input {
  padding-bottom: 8px;
  width: 100%;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #666;
  border-bottom: 1px solid #666;

  &.active {
    padding: 5px 10px;
    border: unset;
    position: relative;
  }

  &.border {
    border: 1px solid #666;
  }
}

.page {
  padding: 40px 0;
  border-bottom: 1px solid #666;
  min-height: 600px;

  &.small {
    min-height: unset;
  }
}